{% extends '@EasyAdmin/layout.html.twig' %}

{% block head_javascript %}
    <script src="{{ asset('app.js', ea.assets.defaultAssetPackageName) }}"></script>
    {{ encore_entry_script_tags('app') }}
    <script type="application/json" id="mercure-url">{{ mercure(['http://localhost/api/web_page_nodes/{id}', 'http://localhost/api/executions/{id}'])|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}</script>
{% endblock head_javascript %}

{% block content_title %}Graph{% endblock %}

{% block main %}
    <div {{ stimulus_controller('graph') }}>
        <ul style="display: flex; flex-wrap: wrap; flex-direction: row; margin: 0; padding: 0;">
            {% for webPage in webPages %}
                <li style="align-items: baseline; cursor: pointer; display: flex; flex-direction: row; margin-right: 15px;">
                    <input id="webPage-{{ webPage.id }}" type="checkbox" style="margin-right: 5px"
                            {{ stimulus_action('graph', 'updateSelection', 'change', {'webPageId': webPage.id}) }}>
                    <label for="webPage-{{ webPage.id }}">{{ webPage.label }}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {{ render_chart(chart, {'data-controller': 'graph', 'id': 'graph'}) }}
    </div>
{% endblock %}

{% block page_actions %}
    <div {{ stimulus_controller('graph') }}>
        <a class="btn btn-primary" {{ stimulus_action('graph', 'switchMode', 'click') }}>Switch mode</a>
    </div>
{% endblock %}

