{% extends '@EasyAdmin/layout.html.twig' %}

{% block head_javascript %}
    <script src="{{ asset('app.js', ea.assets.defaultAssetPackageName) }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock head_javascript %}

{% block content_title %}Graph{% endblock %}

{% block main %}
    <div {{ stimulus_controller('graph') }}>
        <ul style="display: flex; flex-wrap: wrap; flex-direction: row; margin: 0; padding: 0;">
            {% for webPage in webPages %}
                <li style="align-items: baseline; cursor: pointer; display: flex; flex-direction: row; margin-right: 15px;">
                    <input id="webPage-{{ webPage.id }}" type="checkbox" checked style="margin-right: 5px"
                            {{ stimulus_action('graph', 'updateSelection', 'change', {'webPageId': webPage.id}) }}>
                    <label for="webPage-{{ webPage.id }}">{{ webPage.label }}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {{ render_chart(chart, {'data-controller': 'graph', 'id': 'graph'}) }}
    </div>
{% endblock %}

{% set mode = app.request.query.get('mode') %}
{% set nextMode = mode != 'domain' ? 'domain' : 'web' %}
{% set url = app.request.pathinfo ~ '?routeName=' ~ app.request.query.get('routeName') ~ "&mode=" ~ nextMode %}

{% block page_actions %}
    <a href="{{ url }}" class="btn btn-primary">Switch mode</a>
{% endblock %}

